.dashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  width: 100%;
}
.dashboard .btns-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
}

.dashboard .btns-div button {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  color: var(--black);
  width: fit-content;
  font-weight: 600;
  background-color: transparent;
  border: none;
  font-family: inherit;
  text-transform: capitalize;
}
.dashboard .btns-div button:hover {
  opacity: 0.7;
}
.charts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 3rem;
  border: 2px solid var(--lightBlue);
}
.charts canvas {
  width: 60vw;
  height: 50%;
}
.dashboard .transactions-div {
  display: flex;

  border-radius: 2rem;
  padding: 2rem;
  flex-direction: column;
  gap: 2rem;
}
