.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  background-color: var(--lightBlue);
  border-radius: 1rem;
}
.navbar .logo {
  font-size: 3rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--dark-font);
  margin-bottom: 3rem;
}
.navbar .links {
  display: flex;
  flex: 1;
  gap: 2rem;
  flex-direction: column;
  display: 1rem;
}
.navbar .links a {
  padding: 1rem;
  border-radius: 0.3rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  gap: 1.5rem;
  cursor: pointer;
}
.navbar .links a:hover {
  background-color: var(--bg-color);
}
.navbar .links a i {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: var(--blue-font);
}
.navbar .links a p {
  color: var(--light-font);
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 600;
}

.link-active {
  background-color: var(--2lightBlue);
}
.link-active i {
  background-color: var(--dark-font) !important ;
  color: var(--white) !important;
}
.link-active p {
  color: var(--dark-font) !important;
}

.nav-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nav-btns button {
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--light-font);
  font-size: 1.6rem;
  color: var(--dark-font);
  font-weight: 700;
  font-family: inherit;
  text-transform: capitalize;
  background-color: var(--2lightBlue);
}
.nav-btns button:hover {
  opacity: 0.7;
}
.menu-btn {
  display: none;
}
@media screen and (max-width: 1000px) {
  .navbar .logo {
    font-size: 2.4rem;

    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .app {
    gap: 0rem;
  }
  .aside-layout {
    position: absolute;
    width: 45%;
    top: 5rem;
    right: -60%;
    z-index: 101;
    transition: 300ms ease all;
    height: 90vh;
  }
  .main-layout {
    width: 100%;
  }
  .menu-btn {
    display: block;
    position: fixed;
    top: 1.5rem;
    right: 2rem;
    z-index: 101;
    color: var(--dark-font);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightBlue);
    border-radius: 50%;
  }
  .aside-layout.show {
    position: absolute;
    width: 45%;
    top: 5rem;
    right: 1.2rem;
    z-index: 101;
    height: 90vh;
  }
}
@media screen and (max-width: 520px) {
  .aside-layout.show {
    width: 70%;
  }
}
