.home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  width: 100%;
  margin-bottom: 5rem;
}
.home .trans-title-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
}
.home .trans-title-div button {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  color: var(--black);
  width: fit-content;
  font-weight: 600;
  background-color: transparent;
  border: none;
  font-family: inherit;
  text-transform: capitalize;
}

.home .btns-div button {
  padding: 1rem 2rem;
  display: block;
  margin: auto;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--light-font);
  font-size: 1.6rem;
  color: var(--black);
  width: 100%;
  font-weight: 700;
  font-family: inherit;
  text-transform: capitalize;
  background-color: var(--2lightBlue);
}
.home .btns-div button:hover {
  opacity: 0.7;
}
.home .transactions-div {
  display: flex;
  background-color: var(--white);
  border: 1px solid var(--2lightBlue);
  border-radius: 2rem;
  padding: 2rem;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (max-width: 600px) {
  .home .trans-title-div button {
    text-wrap: nowrap;
  }
}
