.app {
  --white: #ffffff;
  --lightBlue: #dfe1f3;
  --2lightBlue: #cbd1f1;
  --bg-color: #f6f7fb;

  --dark-font: #000057;
  --light-font: #797979;
  --blue-font: #465bf7;
  --black: #000000;
}
.dark-mode {
  --white: #0f0f0f;
  --lightBlue: #34353a;
  --2lightBlue: #585858;
  --bg-color: #202020;
  --dark-font: #c1c1ff;
  --light-font: #848484;
  --blue-font: #001eff;
  --black: #ffffff;
}
.head {
  font-weight: 600;
  font-size: 2.8rem;
  text-transform: capitalize;
  color: rgb(70, 0, 58);
  margin-bottom: 2rem;
}
#container {
  padding: 1rem 1rem;
}

#margin {
  margin: 2rem 3rem;
}
#padding {
  padding: 2rem 3rem;
}

#sm-margin {
  margin: 1rem 2rem;
}
#sm-padding {
  padding: 1rem 2rem;
}

.app {
  background-color: var(--bg-color);
  min-height: 100vh;
  overflow-x: hidden;
  color: black;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  transition: 200ms all;
}

.aside-layout {
  width: 20%;
}
.main-layout {
  max-height: 95vh;
  overflow-y: scroll;
  width: 80%;
  border-radius: 1rem;
}
.main-layout::-webkit-scrollbar {
  display: none;
}

.title-text {
  font-size: 2.4rem;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--dark-font);
}
.title-text2 {
  margin: 0.5rem 1rem;
  font-size: 2.4rem;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--dark-font);
}

.floating-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 1rem;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--dark-font);
  padding: 0.5rem 1rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  border: 2px solid var(--light-font);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: 300ms ease-in-out;
  position: fixed;
  bottom: 5rem;
  right: 3rem;
  z-index: 100;
}

.floating-btn:hover {
  border-radius: 10rem;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.floating-btn:active {
  transform: scale(0.9);
}

.app button {
  transition: 200ms ease-in-out;
}
.app button:active {
  transform: scale(0.9);
}

.no-transactions {
  font: 1.8rem;
  font-weight: 600;
  color: var(--dark-font);
  text-transform: capitalize;
  text-align: center;
  margin: 2rem 0.5rem;
  cursor: default;
}
.transactions-div {
  background-color: var(--white);
  border: 1px solid var(--2lightBlue);
}
@media screen and (max-width: 1000px) {
  #margin {
    margin: 1.5rem 2rem;
  }
  #padding {
    padding: 1.5rem 2rem;
  }
}
@media screen and (max-width: 950px) {
  .aside-layout {
    width: 25%;
  }
  .main-layout {
    width: 75%;
  }
}
@media screen and (max-width: 820px) {
  .title-text {
    font-size: 2rem;
    font-weight: 600;
  }
  .title-text2 {
    font-size: 2.2rem;
    font-weight: 600;
  }

  .info-card p {
    text-wrap: nowrap;
  }
  .info-card h2 {
    font-size: 2.2rem;
  }
}
@media only screen and (max-width: 480px) {
  .floating-btn {
    font-size: 1.4rem;
  }
}
