.info-div {
  display: flex;
  gap: 3rem;

  justify-content: space-around;
  background-color: var(--white);
  border: 1px solid var(--2lightBlue);
  border-radius: 2rem;
  padding: 1rem 2rem;
}
.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.info-card p {
  text-transform: capitalize;
  font-weight: 600;
  color: var(--dark-font);
  background-color: var(--lightBlue);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.info-card h2 {
  color: var(--dark-font);
}
