.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container .form {
  display: flex;
  height: 80%;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  justify-content: space-around;
  background-color: var(--white);
  width: fit-content;
  gap: 1.5rem;
  box-shadow: 6px 6px rgb(0, 255, 21), -1px 0 0.3em #6d6d6d38;
}
.form-container .form .form-control {
  display: flex;

  gap: 0.5rem;
}

.form-container .form .form-control input {
  background-color: var(--white);
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-family: inherit;
  width: 100%;
  padding: 0.5rem 1rem;
  font-weight: 500;

  border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}

.form-container .form .form-control .amount {
  font-size: 3.6rem;
}

.form-container .form h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}

.form-container .form select {
  background-color: var(--white);
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  font-weight: 500;
  width: fit-content;
  border-radius: 0.5rem;
}

.form-container form button {
  padding: 1rem 2rem;
  display: block;
  margin: 0 auto;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--light-font);
  font-size: 1.6rem;
  color: var(--dark-font);
  width: fit-content;
  font-weight: 700;
  font-family: inherit;
  text-transform: capitalize;
  background-color: var(--2lightBlue);
}

.form-container form button:hover {
  opacity: 0.7;
}
/* option {
  background-color: var(--white);
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
} */

.react-date-picker__wrapper {
  display: flex;
  flex-grow: 1;
  padding: 0.5rem;
  flex-shrink: 0;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 0.5rem;
}
